/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2016, 10:42:25 PM
    Author     : Sumama
*/

@import 'https://fonts.googleapis.com/css?family=Bungee';

body{ 
    background-image: url("#{resource['img/theater.jpg']}");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.home{

}

.jumbotron {
    background: transparent;
}
.home h1{
    font-family: 'Bungee' ;
    color: white;
    text-align: center;
    font-size: 70px;
}

* {
    border-radius: 0 !important;
}

.form-horizontal{
    margin-top: 100px !important;
}
.home .search{
    height: 100px;
}

.zipcode{
    background-color: rgba(255, 255, 255, 0.7) !important;
    font-weight: bold;
    color: black;
}

.theaters img{ 
    width: 100%;
    height: 220px !important;
}
.theaters .panel{
    height: 300px !important;
    width: 100%;
    margin-top: 50px;
}
.theaters .jumbotron{
    margin-bottom: -40px;
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
}
.btn-nav{
    margin-top: 5px;
}
.movies-card-block{
    height: 300px;
    overflow: scroll;
}
 
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}